body {
    font-family: "Courier Prime", monospace;
    font-size: 25px;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: rgb(249, 253, 255);
    /* background-color: rgb(240, 255, 252); */
}
nav{
    justify-content: center;
    margin: auto;
}
#logo{
    font-size: 50px;
}

.active{
    background-color: rgb(10, 0, 155);
    border: 2px solid rgb(10, 0, 155);
    border-radius: 10px;
}

/* side nav */
.sidenav {
    display: none;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.sideNav {
    font-size: 50px;
    margin-left: 30px;
}

.title {
    right: 0;
    bottom: 0;
    text-align: right;
    justify-content: last baseline;
}